<h1>  <center> Index Page  </center> </h1>
<h3> Available Users </h3>
<ul>
  <% @users.each do |user| %>
    <li> <%= user.user_name %> </li>
  <% end %>
</ul>
<%= link_to 'Signup', new_user_path %> </br>
<%= link_to 'Login', login_path %>
