<h1>  <center> Show Page  </center> 
<%= @user.user_name%>
</h1>






</br>
 <%=link_to "Add an Event" , new_event_path %> </br></br>
 <%=link_to "Show All Events" , events_path %> </br></br>




<%=link_to "Logout" , "/login" %>
